*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/* containers */
article{
    float: left;
    width: calc((100%/3)-1em);
    height: 700px;

}

main{
    width: 70%;
    margin: auto;
}

main .prd-container{
    margin: 1em;
    height: 100%;
    position: relative;
}



/* image css */
img{
    width: 100%;
    position: relative;
    height: 80%;
}

.second{
    display:none;
}

img+.prd-info{
    height: 15%;
}

.brand {
    font-size: smaller;
}

.prd{
    font-weight: bold;

}


/* bottom info */
span{
    display: inline-block;
    margin-right: 1em;
    font-size: smaller;
}

span.discount {
    color: red;
}

span.original{
    text-decoration: line-through;
}

.price > span::after{
    content: '€';
    margin-left: .2em;
}


/* item on image */
.dis-value{
    position: absolute;
    top: 70%;
}

.dis-percent{
    background-color: red;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: .2em .5em;
}

.dis-tag{
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 1em;
    padding: .2em .5em;
}

.dis-heart{
    padding: .5em;
    background-color: white;
    position: absolute;
    top: 5%;
    right: 0;
}

/* HOVER EFFECT */

.prd-container:hover .first{
    display: none;
    
}

.prd-container:hover .second{
    display: inline-block;
    
}
